In [47]:
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori,association_rules
import pandas as pd

<h1 style="color:blue;"> Toy Example </h1>

In [48]:
dataset = [['Lait', 'Oignon', 'Noix', 'Haricots Rouges', 'Oeufs', 'Yaourt'],
           ['Aneth', 'Oignon', 'Noix', 'Haricots Rouges', 'Oeufs', 'Yaourt'],
           ['Lait', 'Pomme', 'Haricots Rouges', 'Oeufs'],
           ['Lait', 'Maïs', 'Haricots Rouges', 'Yaourt'],
           ['Maïs', 'Oignon', 'Haricots Rouges', 'Glace', 'Oeufs']]


transactions = TransactionEncoder()
transactions_array = transactions.fit(dataset).transform(dataset)
df_train = pd.DataFrame(transactions_array, columns=transactions.columns_)
df_train.head(3)

,Aneth,Glace,Haricots Rouges,Lait,Maïs,Noix,Oeufs,Oignon,Pomme,Yaourt
0,False,False,True,True,False,True,True,True,False,True
1,True,False,True,False,False,True,True,True,False,True
2,False,False,True,True,False,False,True,False,True,False

### Recherche de motifs fréquents

In [49]:
frequent_itemsets_train = apriori(df_train, min_support=0.6, use_colnames=True)
frequent_itemsets_train

    support                          itemsets
0       1.0                 (Haricots Rouges)
1       0.6                            (Lait)
2       0.8                           (Oeufs)
3       0.6                          (Oignon)
4       0.6                          (Yaourt)
5       0.6           (Lait, Haricots Rouges)
6       0.8          (Oeufs, Haricots Rouges)
7       0.6         (Haricots Rouges, Oignon)
8       0.6         (Yaourt, Haricots Rouges)
9       0.6                   (Oeufs, Oignon)
10      0.6  (Oeufs, Haricots Rouges, Oignon)

In [50]:
frequent_itemsets_train[frequent_itemsets_train['itemsets'].astype(str).str.contains("Lait")]

   support                 itemsets
1      0.6                   (Lait)
5      0.6  (Lait, Haricots Rouges)

### Recherche des règles d'association

In [51]:
from mlxtend.frequent_patterns import association_rules

In [52]:
training_rules = association_rules(frequent_itemsets_train, metric="confidence", min_threshold=0.7)
training_rules.sort_values(by=['confidence','lift'],ascending=False).iloc[:,:7]

C:\Users\Epulapp\Documents\Polytech Cours\SIAD\SIAD_TP2\Lib\site-packages\mlxtend\frequent_patterns\association_rules.py:186: RuntimeWarning: invalid value encountered in divide
  cert_metric = np.where(certainty_denom == 0, 0, certainty_num / certainty_denom)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift
6,(Oignon),(Oeufs),0.6,0.8,0.6,1.00,1.25
9,"(Haricots Rouges, Oignon)",(Oeufs),0.6,0.8,0.6,1.00,1.25
11,(Oignon),"(Oeufs, Haricots Rouges)",0.6,0.8,0.6,1.00,1.25
0,(Lait),(Haricots Rouges),0.6,1.0,0.6,1.00,1.00
1,(Oeufs),(Haricots Rouges),0.8,1.0,0.8,1.00,1.00
3,(Oignon),(Haricots Rouges),0.6,1.0,0.6,1.00,1.00
4,(Yaourt),(Haricots Rouges),0.6,1.0,0.6,1.00,1.00
8,"(Oeufs, Oignon)",(Haricots Rouges),0.6,1.0,0.6,1.00,1.00
2,(Haricots Rouges),(Oeufs),1.0,0.8,0.8,0.80,1.00
5,(Oeufs),(Oignon),0.8,0.6,0.6,0.75,1.25
7,"(Oeufs, Haricots Rouges)",(Oignon),0.8,0.6,0.6,0.75,1.25
10,(Oeufs),"(Haricots Rouges, Oignon)",0.8,0.6,0.6,0.75,1.25

<h1 style="color:yellow;"> TP ElMouaddab_Ruchon </h1>

In [53]:
sinistre_fact = pd.read_csv('DW/sinistre_fact.csv', sep=';')

sinistre_data = sinistre_fact.groupby('B_ID')['ACTE'].apply(list).tolist()

transactions = TransactionEncoder()
transactions_array = transactions.fit(sinistre_data).transform(sinistre_data)
df_sinistre = pd.DataFrame(transactions_array, columns=transactions.columns_)
df_sinistre.head(5)

,AMI,AMK,AMO,AMP,AMY,ARE,AREH,ATM,ATMCA,ATP,...,SCM,SEVTAR,SF,SHOL,SPR,V,VACR,XYZ,Z2,ZD
0,True,False,False,False,False,False,False,True,False,False,...,False,False,False,False,True,True,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [54]:
frequent_itemsets_train = apriori(df_sinistre, min_support=0.6, use_colnames=True)
frequent_itemsets_train

    support    itemsets
0  0.667302       (PH4)
1  0.801570       (PH7)
2  0.640376  (PH4, PH7)

In [55]:
frequent_itemsets_train[frequent_itemsets_train['itemsets'].astype(str).str.contains("PH7")]

    support    itemsets
1  0.801570       (PH7)
2  0.640376  (PH4, PH7)

In [56]:
training_rules = association_rules(frequent_itemsets_train, metric="confidence", min_threshold=0.7)
training_rules.sort_values(by=['confidence','lift'],ascending=False).iloc[:,:7]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift
0,(PH4),(PH7),0.667302,0.801570,0.640376,0.959650,1.197213
1,(PH7),(PH4),0.801570,0.667302,0.640376,0.798902,1.197213

- On a importé le CSV sinistre_fact et groupBy par B_ID pour obtenir la liste des ACTE associés.
- Avec TransactionEncoder on passe a un tableau binaire où chaques colonnes est un acte.
- Avec la fonction apriori on calcul les éléments fréquents.
- On a mis le support minimum à 0.6, pour garder que les actes présents au moins 60% du temps. Donc frequent_itemsets_train est une liste des ensembles d'actes qui apparaissent assez souvent.
- Ensuite on garde que ceux qui contiennent l'acte "PH7".
- Après on génére les règles d'association en fixant la confiance à 70% minimum et on trie les règles par ordre décroissant, puis de lift pour avoir les résultats les plus significatif.