In [1]:
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori,association_rules
import pandas as pd

<h1 style="color:blue;"> Toy Example </h1>

In [2]:
dataset = [['Lait', 'Oignon', 'Noix', 'Haricots Rouges', 'Oeufs', 'Yaourt'],
           ['Aneth', 'Oignon', 'Noix', 'Haricots Rouges', 'Oeufs', 'Yaourt'],
           ['Lait', 'Pomme', 'Haricots Rouges', 'Oeufs'],
           ['Lait', 'Maïs', 'Haricots Rouges', 'Yaourt'],
           ['Maïs', 'Oignon', 'Haricots Rouges', 'Glace', 'Oeufs']]


transactions = TransactionEncoder()
transactions_array = transactions.fit(dataset).transform(dataset)
df_train = pd.DataFrame(transactions_array, columns=transactions.columns_)
df_train.head(3)

,Aneth,Glace,Haricots Rouges,Lait,Maïs,Noix,Oeufs,Oignon,Pomme,Yaourt
0,False,False,True,True,False,True,True,True,False,True
1,True,False,True,False,False,True,True,True,False,True
2,False,False,True,True,False,False,True,False,True,False

### Recherche de motifs fréquents

In [3]:
frequent_itemsets_train = apriori(df_train, min_support=0.6, use_colnames=True)
frequent_itemsets_train

    support                          itemsets
0       1.0                 (Haricots Rouges)
1       0.6                            (Lait)
2       0.8                           (Oeufs)
3       0.6                          (Oignon)
4       0.6                          (Yaourt)
5       0.6           (Lait, Haricots Rouges)
6       0.8          (Oeufs, Haricots Rouges)
7       0.6         (Oignon, Haricots Rouges)
8       0.6         (Yaourt, Haricots Rouges)
9       0.6                   (Oeufs, Oignon)
10      0.6  (Oeufs, Oignon, Haricots Rouges)

In [16]:
frequent_itemsets_train[frequent_itemsets_train['itemsets'].astype(str).str.contains("Lait")]

   support                 itemsets
1      0.6                   (Lait)
5      0.6  (Lait, Haricots Rouges)

### Recherche des règles d'association

In [17]:
from mlxtend.frequent_patterns import association_rules

In [18]:
training_rules = association_rules(frequent_itemsets_train, metric="confidence", min_threshold=0.7)
training_rules.sort_values(by=['confidence','lift'],ascending=False).iloc[:,:7]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift
6,(Oignon),(Oeufs),0.6,0.8,0.6,1.00,1.25
9,"(Oignon, Haricots Rouges)",(Oeufs),0.6,0.8,0.6,1.00,1.25
11,(Oignon),"(Oeufs, Haricots Rouges)",0.6,0.8,0.6,1.00,1.25
0,(Lait),(Haricots Rouges),0.6,1.0,0.6,1.00,1.00
1,(Oeufs),(Haricots Rouges),0.8,1.0,0.8,1.00,1.00
3,(Oignon),(Haricots Rouges),0.6,1.0,0.6,1.00,1.00
4,(Yaourt),(Haricots Rouges),0.6,1.0,0.6,1.00,1.00
7,"(Oeufs, Oignon)",(Haricots Rouges),0.6,1.0,0.6,1.00,1.00
2,(Haricots Rouges),(Oeufs),1.0,0.8,0.8,0.80,1.00
5,(Oeufs),(Oignon),0.8,0.6,0.6,0.75,1.25
8,"(Oeufs, Haricots Rouges)",(Oignon),0.8,0.6,0.6,0.75,1.25
10,(Oeufs),"(Oignon, Haricots Rouges)",0.8,0.6,0.6,0.75,1.25